* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  padding: 16px 0;
  background-color: #2d033b;
  color: white;
}

header nav li {
  display: inline;
  margin-left: 16px;
  font-size: 18px;
}

header nav li a {
  color: white;
  text-decoration: none;
}

header nav li a:hover {
  font-size: 22px;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

header .container,
section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-list img {
  height: 36px;
}

.logo-list li {
  display: inline;
  margin-right: 8px;
}

section .container {
  align-items: flex-start;
}

section {
  padding: 24px 0;
}

section h2 {
  margin-top: 100px;
  margin-bottom: 16px;
}

section p {
  margin-bottom: 8px;
}

.profile-picture {
  margin-right: 32px;
}

#contact .container {
  display: block;
}

.contact-methods {
  display: flex;
  justify-content: space-between;
}

form input,
form textarea,
form button {
  display: block;
  width: 320px;
  margin-bottom: 8px;
  padding: 8px;
}

form textarea {
  resize: none;
  height: 180px;
}

form button {
  background-color: #2d033b;
  color: white;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: rgb(2, 236, 131);
  color: #2d033b;
}

input:focus,
textarea:focus {
  outline-color: #2d033b;
}

.social-links img {
  height: 32px;
}

.social-links li {
  display: inline;
  margin-right: 8px;
}

.social-links li a {
  text-decoration: none;
}

footer {
  background-color: #2d033b;
  color: white;
  padding: 16px 0;
}
